@model LR6_ASP6.Model.User

<form asp-action="Register" method="post">
    <label>Name:</label>
    <input type="text" asp-for="Name" />
    <label>Age:</label>
    <input type="number" asp-for="Age" />
    <button type="submit">Submit</button>
</form>